<form action="/categorias/editar/<%= categoria.id %>" method="POST" role="form">
    <input type="text" class="form-control" name="categoria" placeholder="Insira uma categoria" value="<%= categoria.categoria %>">
    <button type="submit">Salvar</button>
</form>