
<form action="/categorias/nova" method="POST" role="form">
    <input type="text" class="form-control" name="categoria" placeholder="Insira uma categoria">
    <button type="submit">Salvar</button>
</form>
